<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Colorlist</title>
    <style>
      body {
        background-color: #222222;
      }

      div {
        border-radius: 15px;
        box-shadow: 8px 8px #666666;
      }

      h2 { font-size: 3.5vw; }

      h3 { font-size: 3vw; }

      h4 { font-size: 2.5vw; }

      a:link, a:visited, a:active {
        text-decoration: none;
        color: initial;
      }

      a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <center>
[list]
    </center>
  </body>
</html>
